<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/noticelist-layout.html}">
<head>
    <title>게시글 :: 리스트</title>
</head>
<th:block layout:fragment="content">
	<div class="table-wrap">
		<div class="button-wrap">
			<button class="notice-add">글쓰기</button>
	    </div>
	    <table>
		    <thead>
		        <tr>
		            <th>제목</th>
		            <th>첨부파일</th>
		            <th>작성 날짜</th>
		        </tr>
		    </thead>
		    <tbody class="notice-list">
		        <tr>
		            <td>App1</td>
		            <td>absdflseoijrowe.exe</td>
		            <td>20202020202020</td>
		        </tr>
		    </tbody>
		</table>
	</div>
</th:block>
</html>

